/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* BODY STYLES */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    background-color: white;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.icons svg{
    padding-right: 10px;
}
/* NAV BAR */
.logo{
    font-family: 'Caveat Brush', cursive;
    font-size: 30px;
    color: #2274A5;
    padding: 10px;
}
ul{
    padding: 0;
    margin: auto;
}
li{
    list-style: none;
    padding: 5px 10px;
}

nav{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.icon-burger{
    padding: 10px;
}
.menu-nav{
    display: flex;
}
hr{
    opacity: 0.3;
    margin: 0 20px;
    display: none;
}

/* SHOP MENU */
.shop-nav{
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    display: none;
}
.shop-nav-menu{
    display: flex;
}
.shop-nav-menu ul{
    display: flex;
    flex-direction: column;
}
.shop-nav button{
    border: none;
    background-color: white;
    border: 1px solid gray;
    height: 30px;
    border-radius: 20px;
    width: 230px;
}

input{
    border: none;
}
input:focus {
    outline:none;
}
form{
    padding: 10px 0;
}

/* HEADER SECTION */
.bg-image{
    display: block;
    width: 100vw;
    height: 400px;
    object-fit: cover;
}
.header-section .card{
    background-color: #2274a545;
    top: 329px;
    position: absolute;
    padding: 10px 10px 15px 10px;
}
h3{
    color: wheat;
    font-size: 20px;
    letter-spacing: 3px;    
}
p{
     color: wheat;
}

.btn-shop{
    background-color: #0f4769;
    width: 130px;
    height: 40px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: wheat;
    border-radius: 20px;
    border: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

/* SHOP SECTION */
.shop-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9px 0 60px 0;

}
.first-row, .second-row{
    display: flex;
      flex-direction: column;
      align-items: center;
}

.shop-section .card{
    height: 300px;
    width: 76vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 10px;
    background-color: white;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);;;
}
.card1{
    background: url("media/scarfs1.jpeg");
    height: 500px;
    width: 150px;
    background-size: cover; 
}
.card2{
    background: url("media/scarfs2.jpeg");
    height: 500px;
    width: 150px;
    background-size: cover;
}
.card3{
    background: url("media/scarfs3.jpeg");
    height: 500px;
    width: 150px;
    background-size: cover;
}
.card4{
    background: url("media/scarfs4.jpeg");
    height: 500px;
    width: 150px;
    background-size: cover;
}
.info{
    margin: auto;
    text-align: center;
}
.info p{
    color: #0f4769;
}
.price{
    color: #2274A5;
    font-weight: bold;
}

.btn-shop:hover{
    width: 130px;
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease 0.5s;
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all ease 0.5s;  
}
/* FOOTER */
footer{
    padding: 10px 20px;
    bottom: 0;
    background-color: #ededed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.faq, .demo-shop{
    display: none;
}
.title{
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 2px;
}
.title:hover{
    text-decoration: none;
    cursor: inherit;
}
.contact{
    margin: auto;
    text-align: center;
}



@media only screen and (min-width: 768px) {
    .shop-nav{
        display: flex;
    }
    .icon-burger{
        display: none;
    }
    hr{
        display: block;
    }
    nav{
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        margin: 0;
    }
    .menu-nav{
        margin: 0;
        align-items: center;
    }
    .shop-nav-menu ul{
        display: flex;
        flex-direction: row;
    }
    .bg-image{
        height: 300px;
    }
    .header-section .card{
        top: 249px;
    }
    
    .first-row, .second-row {
        flex-direction: row;
        justify-content: center;
    }
    .shop-section .card {
        width: 200px;
    }
}

@media only screen and (min-width: 1024px) {
    .header-section .card{
        margin-left: 20px;

    }
    .shop-nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
    }
    .shop-section {
        /* display: flex; */
        flex-direction: row;
    }
    .header-section .card {
        width: 300px;
        padding: 10px 10px 15px 20px;

    }

}